# .gitignore

# Files
*.csv
*.csv.gz
*.parquet
datasets/

# Jupyter & python
__pycache__/
.ipynb_checkpoints/

# Postgres & pgadmin
ny_taxi_postgres_data/
pgadmin_data/

# Terraform
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*

# Airflow 
logs/
plugins/
config/
.env

# Credentials
creds/*

!seeds/taxi_zone_lookup.csv
