# .gitignore

# Files
*.csv
*.csv.gz
*.parquet
fhvhv/
zones/

# Jupyter
.ipynb_checkpoints/

# Postgres & pgadmin
ny_taxi_postgres_data/
pgadmin_data/

# Terraform
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*

# Credentials
creds/*
